<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.felipearango.appscope">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".activities.Activity_Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.Activity_ScreenRegisterUC" />
        <activity android:name=".MiddleLR" />
        <activity android:name=".activities.Activity_ScreenRegisterE" />
        <activity android:name=".activities.Activity_Perfil" />
        <activity
            android:name=".activities.Activity_RegistroEmail"
            android:label="@string/title_activity_registro_email"
            android:theme="@style/MyTheme" />
        <activity android:name=".activities.Activity_OfertaTrabajo" />
        <activity android:name=".activities.Activity_Oferta" />
        <activity android:name=".activities.Activity_Settings" />
        <activity android:name=".CompletarPerfil" />
        <activity android:name=".activities.Activity_Admin" />
        <activity android:name=".activities.Activity_notificaciones" />
        <activity android:name=".activities.Activity_AgregarAdmin" />
        <activity android:name=".activities.Activity_Password"></activity>
    </application>

</manifest>